html {
    scroll-behavior: smooth;
  }

body {
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
}

div {
    display: block;
}

.menu {
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    transition: all .5s;
}

.menu .menu__wrapper {
    z-index: 1;
    margin-top: 50px;
    transition: all .3s;
}

.menu .menu__wrapper nav {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
}

.menu.menu--active {
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
}

nav{
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.menu .menu__wrapper nav a:hover {
    opacity: .5;
}


.mobile-menu {
    position: fixed;
    top: 20px;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    transition: all .3s ease;
    padding: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
}

.mobile-menu .mobile-menu__close {
    color: #fff;
    transition: all .3s;
    position: absolute;
    top: 50px;
    background-color: transparent;
    border: none;
}

.mobile-menu .mobile-menu__wrapper {
    height: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
}

.mobile-menu .mobile-menu__wrapper ul {
    padding: 30px 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}

@media (min-width: 992px){
.d-lg-none {
    display: none!important;
}}

.mobile-menu.active {
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1;
}

ol, ul {
    padding: 0;
    list-style: none;
}
hr, ol, ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
}

.menu .menu__wrapper nav a {
    color: #fff;
    opacity: 1;
}
.menu.menu--active .menu__wrapper a {
    color: #555!important;
    opacity: 1;
}
.menu.menu--active .menu__wrapper {
    margin-top: 25px;
}
nav ul li a {
    padding-right: 50px;
    color: #999;
}
a {
    color: #6d56c1;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.menu .menu__mobile-button {
    color: #fff;
    opacity: .5;
    transition: all .3s;
    background-color: transparent;
    border: none;
}

.menu.menu--active .menu__mobile-button {
    color: #555!important;
    opacity: .9;
    margin-top: -5px;
    transition: all .3s;
    background-color: transparent;
    border: none;
}

.menu .menu__mobile-button:hover {
    opacity: 1;
}

.mobile-menu.active {
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1;
}

.mobile-menu .mobile-menu__wrapper ul li {
    list-style: none;
    padding: 6px 0;
}

.mobile-menu .mobile-menu__wrapper ul li a {
    color: #fff;
    display: inline-block;
    padding: 11px;
    position: relative;
}

.personal-profile {
    color: #fff;
    font-family: Roboto Mono,monospace;
    padding-top: 90px;
}

.personal-profile .personal-profile__name {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 9em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.personal-profile .personal-profile__work {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.contact-list {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}

.contact-list.contact-list__opacity-titles dt {
    opacity: .4;
}

.contact-list dt {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-list dd {
    padding-left: 100px;
    margin-bottom: 15px;
}

.contact-list dd a {
    color: #fff;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

dl, ol, ul {
    margin-top: 0;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-header{
    background: linear-gradient(90deg, hsla(239, 41%, 48%, 1) 0%, hsla(296, 14%, 54%, 1) 81%, hsla(359, 28%, 67%, 1) 100%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
    display: block;
}

@media (min-width: 576px){
.container {
    max-width: 540px;
}}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.personal-profile .personal-profile__avatar img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px;
}

@media (max-width: 770px){
    .personal-profile .personal-profile__avatar img {
        display: none !important;
    }
} 

.personal-profile .personal-profile__social {
    margin-bottom: 35px;
}

.personal-profile .personal-profile__social a {
    font-size: 24px;
    margin-right: 15px;
    opacity: .4;
    color: #fff!important;
}

.personal-profile .personal-profile__social a:hover {
    opacity: 1;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section .section__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono,monospace;
}

.section .section__description {
    margin-bottom: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.site-btn {
    background-color: #6d56c1;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
}

.site-btn img {
    height: 14px;
    margin-top: -5px;
    margin-right: 5px;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
}

.resume-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-list .resume-list_title {
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px;
}

.resume-list .resume-list__block {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-list .resume-list__block p {
    margin: 0;
}

.resume-list .resume-list__block:before {
    width: 12px;
    height: 12px;
    border: 2px solid #6d56c1;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
}

.resume-list .resume-list__block-title {
    text-transform: uppercase;
    color: #6d56c1;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-list .resume-list__block-location {
    text-transform: uppercase;
    color: #6d56c1;
    font-size: 12px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 600;
    padding-bottom: 5px;
}

.resume-list .resume-list__block-date {
    font-family: Inconsolata,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
}

.resume-list .resume-list__block-description {
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 10px;
}

.progress-list {
    margin-top: 30px;
}

.progress-list .progress-list__title, .progress-list p {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.progress-list .progress-list__title {
    font-family: Roboto Mono,monospace;
    letter-spacing: 5px;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px;
}

.mr-auto {
    margin-right: auto!important;
}

.progress-list p {
    width: 100%;
    font-family: Inconsolata,monospace;
    margin-bottom: 10px;
}
.progress-list .progress-list__title, .progress-list p {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.progress-list p .progress-list__skill-value {
    float: right;
}

.progress-list .progress {
    height: 6px;
    margin-bottom: 30px;
}   

.progress-list .progress .progress-bar {
    background-color: #6d56c1;
}

.project-card {
    margin-left: 0;
    margin-bottom: 40px;
    transition: box-shadow .3s;
    margin-right: 0;
}

.project-card:hover {
    box-shadow: 0 1px 31px rgba(0,0,0,.09);
}

.project-card .project-card__img {
    padding-right: 0;
    padding-left: 0;
}

.project-card .project-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.project-card .project-card__info {
    border: 1px solid #f1f1f1;
    padding: 50px 50px 40px 30px;
}

.project-card .project-card__title {
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}

.project-card .project-card__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}

.project-card .project-card__stack {
    font-family: Roboto Mono,monospace;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media screen and (max-width: 990px){
.tags li {
    margin-bottom: 10px;
}}

.tags li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.project-card .project-card-github{
    font-size: 24px;
    margin-top: 55px;
    color:black!important;
}

.project-card .project-card__link {
    margin-top: 55px;
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    float: right;
}